@model List<EmployeeModel>
@{
	Layout = "_Layout_Admin";
}


	<section class="section">
		<div class="section-header">
			<h1>DataTables</h1>
			<div class="section-header-breadcrumb">
				<div class="breadcrumb-item"><a href="#">Personel</a></div>
				<div class="breadcrumb-item "><a href="#">Personel İşlemleri</a></div>
				<div class="breadcrumb-item active">Personel Listesi</div>
			</div>
		</div>
		<div class="section-body">
			<h2 class="section-title">Personel Listesi</h2>
			<p class="section-lead">
				<a href="#" class="btn btn-success"> Personel Ekle</a>
			</p>
		
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4>Advanced Table</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped" id="table-2">
									<thead>
										<tr>
											<th class="text-center">
												<div class="custom-checkbox custom-control">
													<input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
													<label for="checkbox-all" class="custom-control-label">&nbsp;</label>
												</div>
											</th>
											<th>Ad</th>
											<th>Soyad</th>
											<th>E-posta</th>
											<th>Doğum Tarihi</th>
											<th>Aktiflik Durumu</th>
											<th>İşlemler</th>


										</tr>
									</thead>
									<tbody>
										@foreach (var employee in Model) {
										<tr>
											<td>
												<div class="custom-checkbox custom-control">
													<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="@employee.Id">
													<label for="checkbox-1" class="custom-control-label">&nbsp;</label>
												</div>
											</td>
											<td>@employee.Name</td>
											<td>@employee.Surname</td>
											<td>@employee.Email</td>
											<td>@employee.Birthdate</td>
											<td><div class="badge badge-success">Aktif</div></td>
											<td> <a href="#" class="btn btn-success">Güncelle</a> <a href="#" class="btn btn-danger">Sil</a></td>
										</tr>
										}




									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
