@model IEnumerable<NewsTech.Models.NewsTechUserModel>

@{
	Layout = "_Layout_Admin";
}

<section class="section">
	<div class="section-header">
		<h1>Personel İşlemleri</h1>
		<div class="section-header-breadcrumb">
			<div class="breadcrumb-item"><a href="#">Personel</a></div>
			<div class="breadcrumb-item "><a href="#">Personel İşlemleri</a></div>
			<div class="breadcrumb-item active">Personel Rol Yönetimi</div>
		</div>
	</div>
	<div class="section-body">
		<h2 class="section-title">Personel Rol Yönetimi</h2>
		<p class="section-lead float-right">
		</p>

		<div class="row">
			<div class="col-12">
				<div class="card">



					<div class="card-body">
						
						<div class="table-responsive">
							<table class="table table-striped" id="table-2">
								<thead>
									<tr>
										<th>
											@Html.DisplayNameFor(model => model.UserName)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.FullName)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.IsAdmin)
										</th>
										<th></th>


									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model) {
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.UserName)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.FullName)
											</td>
											<td>
												<div class="custom-checkbox custom-control">
													<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="@item.IsAdmin">
													 @Html.DisplayFor(modelItem => item.IsAdmin ,new {  @class= "custom-control-label" })
												</div>
												
											</td>
											<td>
												@if (item.IsAdmin) {
													<a asp-action="RemoveAdmin" asp-route-id="@item.Id" class="btn btn-danger">Remove Admin</a>
												} else {
													<a asp-action="MakeAdmin" asp-route-id="@item.Id" class="btn btn-primary">Make Admin</a>
												}

											</td>
										</tr>
									}

									@*@foreach (var employee in Model) {
										<tr>
											<td>
												<div class="custom-checkbox custom-control">
													<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="@employee.Id">
													<label for="checkbox-1" class="custom-control-label">&nbsp;</label>
												</div>
											</td>
											<td>@employee.Name</td>
											<td>@employee.Surname</td>
											<td>@employee.Email</td>
											<td>@employee.Birthdate</td>
											<td><div class="badge badge-success">Aktif</div></td>
											<td> <a href="#" class="btn btn-success">Güncelle</a> <a href="#" class="btn btn-danger">Sil</a></td>
										</tr>
									}*@




								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


@*<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsAdmin)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsAdmin)
				</td>
				<td>
					@if (item.IsAdmin) {
						<a asp-action="RemoveAdmin" asp-route-id="@item.Id" class="btn btn-danger">Remove Admin</a>
					} else {
						<a asp-action="MakeAdmin" asp-route-id="@item.Id" class="btn btn-primary">Make Admin</a>
					}

				</td>
			</tr>
		}
	</tbody>
</table>*@
